@import 'reset/index';
@import 'variables/index';
@import 'animations/index';
@import 'components/index';

body, html
{
	background-color: $background;
	color: $light;
	font-family: $basefontfamily;
	font-size: $basefontsize !important;
}