$dark: #000000;
$light: #ffffff;

$background: #121212;
$primary: $light;
$secondary: #aaa;
$button: #4466aa;

$black-alpha20: rgba( 0, 0, 0, 0.2 );
$black-alpha50: rgba( 0, 0, 0, 0.5 );
$black-alpha80: rgba( 0, 0, 0, 0.8 );