// Visual
$basespacing:  			20px;
$baseborderradius:  	4px;
$baseeasingfunction:  	cubic-bezier(0.0, 0.0, 0.2, 1);
$baseboxshadow:  		0 1px 2px rgba(0, 0, 0, 0.1);

// Fonts
$basefontfamily:  		'Helvetica Neue', -apple-system, sans-serif;
$basefontweight:  		$weightregular;
$basefontsize:  		$sizenormal;
$baselineheight:  		1.15;


//
// Global Sizes
$buttonHeight: 10vh;